/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

/* CSS File imports */
@import url(sections.css);

/* CSS Variables */
:root {
  --yatra-one: "Yatra One", cursive;
  --cinzel: "Cinzel", serif;

  --dark-jungle-green: #0c192c;
  --btn-color: #2ea44f;

  --shadow: 0 0 30px #4fc3dc;
  --btn-shadow: 0 0 10px #2ea44f;

  --btm-brdr: 2px solid #917a5c;
  --brdr-radius: 0px 0px 20px 5px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Utility Classes */
body {
  color: #fff;
  background-color: var(--dark-jungle-green);
}

h2,
h3,
h4,
p {
  font-family: var(--cinzel);
}

h2 {
  border-bottom: var(--btm-brdr);
  border-radius: var(--brdr-radius);
  padding-left: 0.8rem;
  margin-block: 1.5em;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5;
  word-spacing: 3px;
  letter-spacing: 1.5px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 1em;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--btn-color);
  color: #fff;
  font-family: var(--cinzel);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  cursor: pointer;
  padding: 0.45rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  font-weight: 700;
  font-size: 1rem;
  width: 180px;
}

.btn:focus,
.btn:hover {
  box-shadow: var(--btn-shadow);
}

/* CSS */

@media (max-width: 675px) {
  p {
    font-size: 0.6rem;
  }

  h2 {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.7rem;
    width: 120px;
  }
}
