header {
  width: 100%;
  background-color: #0c192c;
  box-shadow: 0px 18px 26px -10px rgba(0, 0, 0, 0.1);
}

.logo__container a {
  flex-wrap: wrap;
}

.logo__container-img {
  max-width: 100px;
}

.logo__container-text {
  margin-left: 2em;
  text-align: center;
}

.logo__container-heading {
  font-family: var(--yatra-one);
  color: #cac10d;
  font-size: 2rem;
  line-height: 0.7;
  letter-spacing: 9px;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #cac10d;
  }
  to {
    text-shadow: 0 0 30px #ded416, 0 0 10px #928e3d;
  }
}

.logo__container-sub-heading {
  color: #c8c8c8;
  font-family: var(--cinzel);
}

@media (max-width: 675px) {
  .logo__container-img {
    margin-bottom: 0.6em;
    transform: translateX(15px);
  }

  .logo__container-heading {
    font-size: 1rem;
    line-height: 1.2;
  }
}
