.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 0.7;
  letter-spacing: 4px;
  padding: 1.2rem;
}

.header-heading {
  font-family: var(--yatra-one);
  color: #A7727D;
}

.header-sub-heading {
  font-size: 1rem;
}

.logo-container-link {
  flex-wrap: wrap;
}

.logo-img {
  max-width: 80px;
}

@media (max-width: 500px) {
  .logo-container {
    gap: 10px;
  }
  .header-heading {
    font-size: 1.2rem;
    line-height: 1;
  }

  .header-sub-heading {
    font-size: 0.7rem;
  }

  .logo-img {
    width: 40px;
  }
}


