/* .lamination-brands {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.lam-wrapper {
  display: inline-block;
  animation: 20s moving linear infinite;
}

.lam-wrapper img {
  max-width: 100%;
  margin: 0 1.3rem;
}

@media (max-width: 500px) {
  .lam-wrapper img {
    width: 100px;
    margin: 0 0.8rem;
  }
} */

.lamination-brands-slider {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.lamination-brands-slider::before {
  content: "";
  position: absolute;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
  width: 100px;
  height: 100%;
  z-index: 2;
}

.lamination-brands-slider::after {
  content: "";
  position: absolute;
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  width: 100px;
  height: 100%;
  z-index: 2;
}

.lam-wrapper {
  display: inline-block;
  animation: 20s moving linear infinite;
}

.lam-wrapper img {
  margin: 0 1.3rem;
}

@keyframes moving {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 500px) {
  .lam-wrapper img {
    width: 100px;
    margin: 0 0.8rem;
  }
  .lamination-brands-slider::before,
  .lamination-brands-slider::after {
    width: 50px;
  }
}
