.carousel-cell,
.carousel-cell img {
  width: 100%;
}

.banner-box {
  position: absolute;
  max-width: 495px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.55);
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-family: var(--cinzel);
  padding: 30px;
  left: 10%;
}

.banner-box .line {
  display: block;
  background: #dba39a;
  height: 5px;
  width: 100px;
  border-radius: 5px;
  margin-bottom: 0px;
  position: relative;
  left: 38px;
  top: 0px;
}

@media (max-width: 500px) {
  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
  }
  .flickity-page-dots {
    bottom: 5px;
  }

  .banner-box {
    width: 65%;
    padding: 10px 20px;
  }
  .banner-box .line {
    display: none;
  }
  .banner-box h1 {
    font-size: .8rem;
  }
  .banner-box p {
    font-size: 0.5rem;
  }
}

